<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/student/add" method="post">
    <!--    Do id tu tang nen khi them khong truyen id len-->
    class name : <input type="text" name="className"> <br>
    email: <input type="text" name="email"> <br>
    major : <input type="text" name="major"> <br>
    full name: <input type="text" name="fullName"> <br>
    phone : <input type="text" name="phone"> <br>
    student code : <input type="text" name="studentCode"> <br>
    <button type="submit">Them</button>
</form>

<table>
    <thead>
    <tr>
        <td>id</td>
        <td>class name</td>
        <td>full name</td>
        <td>email</td>
        <td>major</td>
        <td>student code</td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="sv :${students}">
        <td th:text="${sv.id}"></td>
        <td th:text="${sv.className}"></td>
        <td th:text="${sv.fullName}"></td>
        <td th:text="${sv.email}"></td>
        <td th:text="${sv.major}"></td>
        <td th:text="${sv.studentCode}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>