<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--id : <label th:text="${s.id}"></label>-->
<!--class name : <label th:text="${s.className}"></label>-->

<table>
    <thead>
    <tr>
        <td>id</td>
        <td>class name</td>
        <td>full name</td>
        <td>email</td>
        <td>major</td>
        <td>student code</td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="sv :${students}">
        <td th:text="${sv.id}"></td>
        <td th:text="${sv.className}"></td>
        <td th:text="${sv.fullName}"></td>
        <td th:text="${sv.email}"></td>
        <td th:text="${sv.major}"></td>
        <td th:text="${sv.studentCode}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>